<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title || "Boo! - Uiua Package Registry" }}</title>
  <link rel="preconnect" href="https://fonts.bunny.net" />

  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body class="min-h-screen w-screen bg-gray-700 text-gray-200">
  <div class="min-h-screen w-5xl max-w-screen mx-auto flex flex-col">
    <nav class="flex flex-col px-4 py-2 gap-2">
      <div class="flex items-center justify-between gap-4 whitespace-nowrap">
        @if(simplifiedNavigation === undefined || !simplifiedNavigation)
        <a href="{{ route('home') }}" class="flex items-center gap-1 hover:text-gray-400">
          @svg('tabler:ghost-3-filled', { class: 'size-6' })
          <span class="font-bold text-xl">Boo!</span>
        </a>
        <div class="w-full max-sm:hidden">
          @!ui.packageSearch()
        </div>
        @else
        <div></div>
        @end

        <div class="flex gap-2">
          <a href="{{ route('browse.packages') }}" class="text-gray-200 hover:text-gray-400 flex gap-1 items-center">
            @svg('tabler:package', { class: 'size-5' })
            Browse Packages
          </a>

          <span class="text-gray-400">&middot;</span>

          <a href="#" class="text-gray-200 hover:text-gray-400 flex gap-1 items-center">
            @svg('tabler:book', { class: 'size-5' })
            Docs
          </a>

          <span class="text-gray-400">&middot;</span>

          @if(auth.user)
          <a href="#" class="text-gray-200 hover:text-gray-400">
            {{ auth.user?.githubName || 'Guest' }}
          </a>
          @else
          <a href="{{ route('auth.login') }}" class="text-gray-200 hover:text-gray-400 flex gap-1 items-center">
            @svg('tabler:brand-github', { class: 'size-5' })
            Login
          </a>
          @end
        </div>
      </div>

      @if(simplifiedNavigation === undefined || !simplifiedNavigation)
      <div class="w-full sm:hidden">
        @!ui.packageSearch()
      </div>
      @end
    </nav>

    <main class="flex-1 px-4">
      {{{ await $slots.main() }}}
    </main>

    <footer class="mt-12">
      <p class="text-center text-gray-400 px-4 py-2">
        Boo!
      </p>
    </footer>
  </div>
</body>

</html>