@layout.base()
  @slot('main')
    <div class="max-w-lg mx-auto mt-20">
      <h1 class="flex text-2xl font-bold text-gray-200">
        Publish a package
      </h1>

      <div class="mt-2 text-gray-200 bg-gray-600 rounded-lg p-4">
        @if(!auth.user)
          @include('pages/publish/login')
        @else
          @include('pages/publish/form')
        @end
      </div>
    </div>
  @endslot
@end
