<div class="flex flex-col gap-2">
  @if(availableScopes.length > 0)
    @include('pages/publish/form/select_scope')

    <div class="inline-flex items-center justify-center w-full">
      <hr class="w-full h-px my-4 border-0 bg-gray-500">
      <span class="absolute px-3 font-medium -translate-x-1/2 bg-gray-600 left-1/2">OR</span>
    </div>
  @end

  @include('pages/publish/form/create_scope')
</div>